/* Colors collection */

$red-1: #FFE4E4;
$red-2: #FDC9C9;
$red-3: #FDB1B1;
$red-4: #FD9C9C;
$red-5: #FD8686;
$red-6: #FC6E6E;
$red-7: #F95757;
$red-8: #F93B3B;
$red-9: #F92222;
$red-10: #FF0000;

$bordo-1: #EF0101;
$bordo-2: #DB0000;
$bordo-3: #CA0000;
$bordo-4: #B60202;
$bordo-5: #A10101;
$bordo-6: #8E0000;
$bordo-7: #790000;
$bordo-8: #660101;
$bordo-9: #520101;
$bordo-10: #3C0101;

$orange-1: #FFE2C5;
$orange-2: #FCD3AB;
$orange-3: #FFCC9A;
$orange-4: #FDBF82;
$orange-5: #FAB36E;
$orange-6: #F9AB5F;
$orange-7: #FCA24B;
$orange-8: #FA9635;
$orange-9: #FA8A1D;
$orange-10: #FF7E00;